/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: 'Domine', serif; */
  font-family: 'Noto Sans JP', sans-serif;
  color: #afafaf;
}

/* Utilities */
.d-flex {
  display: flex;
}

.title {
  font-family: 'Domine', serif;
  margin-bottom: 20px;
  color: #39403e;
}

a {
  text-decoration: none;
  color: #afafaf;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

.btn {
  padding: 12px 24px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  border: none;
  background: #fc7525;
  cursor: pointer;
}

/* LAYOUT */
.container {
  background-color: #fff;
  flex-direction: column;
}

/* Header Overall */
.header-overall {
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding: 10px 0;
  font-size: 12px;
}

.list-overall li,
.icons-overall i {
  padding: 8px;
}

.list-overall li a span {
  padding: 4px;
  border-radius: 5px;
  color: #fff;
  background-color: #fc7525;
}

.icons-overall i {
  font-size: 14px;
}

/* Header logo */
.header-logo {
  margin: 10px auto;
}

/* NAV MENU */
.main-header {
  flex-direction: column;
  margin-bottom: 20px;
}

.main-header .main-menu {
  justify-content: center;
  margin-top: 20px;
}

.main-menu .menu a {
  margin: 0 15px;
  color: #6a6b6c;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 4px solid trasparent;
}

.main-menu .menu a:hover {
  color: #fc7525;
  border-bottom: 4px solid #fc7525;
}

.main-menu .menu > a:hover {
  color: #fc7525;
  border-bottom: none;
}

/* HERO */
.hero {
  position: relative;
  width: 100%;
  height: 640px;
  background-image:url("../Images_Food/single-post-img3.jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  /* margin-bottom: 20px; */
}

.text-hero {
  position: absolute;
  width: 500px;
  top: 50%;
  left: 50%;
  padding: 60px 60px 40px;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  color: #262628;
  background: #fff;
  text-align: center;
  font-family: 'Domine', serif;
}

.text-hero p {
  margin-top: 10px;
  color: #979c9c;  afafaf
}

.label {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Noto Sans JP', sans-serif;
  color: #fff;
  background: #fc7525;
  box-shadow: 1px 1px 8px rgba(0,39,56, .2);
  z-index: 1;
}

/* MAIN */
main {
  /* position: relative; */
  background: #f6f7f1;
  /* flex-direction: column;
  flex-grow: 1; */
  min-height: 100vh;
}

/* Section1: Foodie Journal */
.foodie-father {
  position: relative;
}

.foodie {
  position: absolute;
  top: -60px;
  left: 315px;
  right: 282px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  color: #39403e;
  background-color: #fff;
  box-shadow: 1px 1px 8px rgba(0,39,56, .2);
  flex-direction: column;
}

.foodie > h3 {
  position: relative;
  text-transform: uppercase;
}

.foodie > h3::before,
.foodie > h3::after {
  content: "";
  position: absolute;
  top: 15px;
  width: 35%;
  height: 1px;
  background: lightgray;
}

.foodie > h3::before {
  left: 15px;
}

.foodie > h3::after {
  right: 15px;
}

.blogPost {
  justify-content: center;
  align-content: space-between;
}

.postImg img {
  margin: 10px 0;
  width: 265px;
}

.blogPost h4 {
  margin: 0;
  font-size: 18px;
  line-height: 25px;
  color: #39403e;
}

.blogPost p {
  font-size: 12px;
  margin: 5px 0;
}

.postImg {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: space-between;
  overflow: hidden;
  /* opacity: 1;
  transition: opacity .5s ease; */
}

/* .image {
  display: block;
  width: 100%;
  height: auto;
} */

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* height: 100%; */
  width: 265px;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(252, 117, 37, .3);
  overflow: hidden;
}

.text {
  position: absolute;
  top: 65%;
  left: 10%;
  transform: translate(-9%, -40%);
  padding: 20px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  /* background: rgba(255, 255, 255, .8); */
}

.postImg:hover .overlay {
  opacity: 1;
}
/* .postImg:hover img {
  opacity: .3;
} */

.postImg i {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -40%);
  padding: 15px;
  font-size: 20px;
  color: rgba(0, 0, 0, .8);
  background: rgba(255, 255, 255, .8);
  border-radius: 50%;
  /* opacity: 0;
  transition: opacity .3s; */
}

/* .postImg:hover i {
  opacity: 1;
} */

/* SECTION2: POPULAR RECIPES */
.recipes {
  width: 100%;
  flex-direction: column;
  margin-top: 300px;
}

.box-text {
  width: 500px;
  margin: 50px auto;
  text-align: center;
}

.box-text h3 {
  font-size: 16px;
  margin: 15px 0;
  text-transform: uppercase;
  color: #39403e;
}

.box-text p {
  font-size: 14px;
  line-height: 25px;
}

/* Recipes post */
.recipePosts,
.tablePosts  {
  justify-content: space-between;
  width: 1200px;
  margin:0 auto;
}

.recipePosts {
  align-items: center;
}

.recipePost {
  flex-basis: calc(50% - 10px);
  background: #fff;
}

.recipePost,
.tablePost-sx {
  flex-direction: column;
}

.recipeHeader,
.recipeBody  {
  padding: 30px;
}

.recipeHeader h3 {
  margin: 0;
  font-size: 20px;
  color: #39403e;
}

.recipeHeader p {
  font-size: 14px;
  margin: 8px 0;
}

.recipeBody {
  position: relative;
}

.recipeBody::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  width: 90%;
  height: 1px;
  background: lightgray;
}

.recipeBody p {
  font-size: 16px;
  text-align: justify;
  line-height: 30px;
  margin-bottom: 20px;
}

/* Grid images */
.imgages-recipePosts {
  flex-basis: calc(50% - 10px);
}

.grid-container {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: auto auto;
}

.grid-item {
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

/* SECTION3: COLLECTION */
.collection {
  flex-direction: column;
}

.wrap-collection {
  width: 1200px;
  margin: 20px auto;
}

.grid-container-collection {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: auto auto auto auto;
}

.grid-item-collection {
  padding: 10px;
  font-size: 20px;
  text-align: center;
  background: #fff;
  box-shadow: 0px 8px 15px rgba(0,39,56, .1);
}

.grid-item-collection img {
  height: 100px;
}

.label-btn {
  width: 100%;
  padding: 12px 24px;
  text-align: center;
  text-transform: uppercase;
  background: #fff;
  border: none;
  transition: background .3s;
}

.label-btn:hover {
  color: #fff;
  background: #fc7525;
}

/* SECTION4: FARM TO TABLE */
.farm-to-table {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.farm-table {
  width: 1200px;
  margin: 50px auto;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.tablePost-sx {
  flex-basis: calc(65% - 10px);
}

.tablePost-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 40px;
}

.tablePost-grid-item1,
.tablePost-grid-item-btn {
  grid-column-start: 1;
  grid-column-end: 3;
}

.tablePost-grid-item1,
.tablePost-grid-item {
  background: #fff;
}
.tablePost-grid-item {
  text-align: center;
}

.tablePost-grid-item-btn {
  text-align: center;
  padding: 15px;
  color: #6a6b6c;
  border: 1px solid #f0eeeb;
  background: #edede8;
  cursor: pointer;
}

.farm-table > .box-text {
  margin: 0;
  text-align: left;
}

.cta i {
  margin-left: 5px;
}

.farm-tablePosts .recipeBody i {
  margin-left: 85%;
}

.farm-tablePosts .recipeBody > .btn {
  text-transform: capitalize;
  padding: 0;
  color: #979c9c;
  background: #fff;
}

.farm-tablePosts .recipeBody i:hover,
.farm-tablePosts .recipeBody > .btn:hover {
  color: #fc7525;
}

/* SECTION4: FARM TO TABLE -- DX*/
.farm-tablePost-dx {
  flex-basis: calc(35% - 10px);
}

.tablePost-dx {
  min-height: 515px;
  margin-bottom: 40px;
  background-image: url('../Images_Food/ad-bg.jpg');
  position: relative;
}

.tablePost-dx,
.tablePost-guide {
  margin-left: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tablePost-text-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 26px;
  text-align: center;
  line-height: 48px;
  color: #39403e;
  text-transform: uppercase;
}

.tablePost-guide {
  min-height: 255px;
  background-image: url('../Images_Food/singapore-featured-image-800x527.jpg');
  position: relative;
  margin-bottom: 120px;
}

.tablePost-guide-title {
  position: absolute;
  top: 50%;
  left: 0;
  padding: 14px 26px;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  background: rgba(0, 0, 0, .8);
}

.tablePost-guide > .btn {
  width: 100%;
  position: absolute;
  bottom: -40px;
}

.tablePost-guide > .btn i {
  margin-right: 8px;
}

.tablePost-guide::after {
  content: "";
  position: absolute;
  bottom: -80px;
  left: 0;
  width: 100%;
  height: 1px;
  background: lightgray;
}

/* Input search dx */
.input-search {
  width: 392px;
  padding: 10px;
  margin: 20px 0px 40px 20px;
  vertical-align: middle;
  border: 1px solid lightgray;
  border-radius: 5px;
  background: #fff;
}

.input-search input {
  margin-left: 10px;
  border: none;
}

.input-search i {
  padding-left: 10px;
}

/* Fallow icons */
.follow-icons {
  width: 100%;
  margin: 20px 0px 20px 20px;
}

.follow-icons h4 {
  color: #fc7525;
}

.icons-social i {
  width: 35px;
  padding: 8px;
  margin: 0 5px;
  text-align: center;
  color: #6a6b6c;
  border: 1px solid #f0eeeb;
  border-radius:  8px;
  background: radial-gradient(#edede8, transparent);
}

/* Filter popular/recent */
.filter-btns {
  justify-content: space-between;
  margin: 20px 0px 40px 20px;
  border: 1px solid #f0eeeb;
  border-radius: 5px;
}

.btns {
  width: 50%;
  padding: 12px;
  color: #39403e;
  font-family: 'Domine', serif;
  border: none;
  background: #f6f7f1;
  cursor: pointer;
}

.btns.active {
  background: #fff;
}

.filtered-posts {
  margin: 20px 0px 40px 20px;
}

.filtered-post-list {
  flex-direction: column;
}

.filtered-post-list li {
  margin-bottom: 15px;
}

.filtered-post-list a {
  align-items: center;
}

.blogPost-Image {
  flex-grow: 1;
  margin-right: 10px;
  max-width: 66px;
  max-height: 66px;
}

.blogPost-Image img {
  border-radius: 50%;
  width: 66px;
  height: 66px;
  object-fit: cover;
}

.blogPost-title {
  max-width: 320px;
}

.blogPost-title h5 {
  font-size: 14px;
  font-weight: lighter;
  color: #6a6b6c;
}

.blogPost-title p {
  margin: 5px 0;
  font-size: 12px;
}
