/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: 'Domine', serif; */
  font-family: 'Noto Sans JP', sans-serif;
  color: #afafaf;
}

/* Utilities */
.d-flex {
  display: flex;
}

.title {
  font-family: 'Domine', serif;
  margin-bottom: 20px;
  color: #39403e;
}

a {
  text-decoration: none;
  color: #afafaf;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

.btn {
  padding: 12px 24px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  border: none;
  background: #fc7525;
  cursor: pointer;
}

/* LAYOUT */
.container {
  background-color: #fff;
  flex-direction: column;
}

/* Header Overall */
.header-overall {
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding: 10px 0;
  font-size: 12px;
}

.list-overall li,
.icons-overall i {
  padding: 8px;
}

.list-overall li a span {
  padding: 4px;
  border-radius: 5px;
  color: #fff;
  background-color: #fc7525;
}

.icons-overall i {
  font-size: 14px;
}

/* Header logo */
.header-logo {
  margin: 10px auto;
}

/* NAV MENU */
.main-header {
  flex-direction: column;
  margin-bottom: 20px;
}

.main-header .main-menu {
  justify-content: center;
  margin-top: 20px;
}

.main-menu .menu a {
  margin: 0 15px;
  color: #6a6b6c;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 4px solid trasparent;
}

.main-menu .menu a:hover {
  color: #fc7525;
  border-bottom: 4px solid #fc7525;
}

.main-menu .menu > a:hover {
  color: #fc7525;
  border-bottom: none;
}

/* HERO */
.hero {
  position: relative;
  width: 100%;
  height: 640px;
  background-image:url("../Images_Food/single-post-img3.jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  /* margin-bottom: 20px; */
}

.text-hero {
  position: absolute;
  width: 30%;
  top: 50%;
  left: 50%;
  padding: 60px 60px 40px;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  color: #262628;
  background: #fff;
  text-align: center;
  font-family: 'Domine', serif;
}

.text-hero p {
  margin-top: 10px;
  color: #979c9c;  afafaf
}

.label {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Noto Sans JP', sans-serif;
  color: #fff;
  background: #fc7525;
  box-shadow: 1px 1px 8px rgba(0,39,56, .2);
  z-index: 1;
}

/* MAIN */
.main-content {
  background: #f6f7f1;
  min-height: 100vh;
}

/* Section1: Foodie Journal */
.foodie-journal{
  position: relative;
}

.foodie-journal-container {
  position: absolute;
  top: -60px;
  left: 315px;
  right: 282px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  color: #39403e;
  background-color: #fff;
  box-shadow: 1px 1px 8px rgba(0,39,56, .2);
  flex-direction: column;
}

.foodie-journal-container  > h3 {
  position: relative;
  text-transform: uppercase;
}

.foodie-journal-container > h3::before,
.foodie-journal-container > h3::after {
  content: "";
  position: absolute;
  top: 15px;
  width: 35%;
  height: 1px;
  background: lightgray;
}

.foodie-journal-container > h3::before {
  left: 15px;
}

.foodie-journal-container > h3::after {
  right: 15px;
}

.blogPost {
  justify-content: center;
  align-content: space-between;
}

.blogPost h4 {
  margin: 0;
  font-size: 18px;
  line-height: 25px;
  color: #39403e;
}

.blogPost p {
  font-size: 12px;
  margin: 5px 0;
}

.postImg {
  position: relative;
  justify-content: center;
  align-content: space-between;
  max-width: 265px;
}

.container-overlay {
  display: inline-flex;
  width: 100%;
  max-width: 265px;
  overflow: hidden;
  opacity: 1;
  transition: opacity .5s ease;
}

.container-overlay img.image-overlay {
  display: block;
  max-width: 400px;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgb(252, 117, 37);
  background: linear-gradient(180deg, rgba(252, 117, 37, .2) 0%,
              rgba(252,117,37, .7) 35%);
  overflow: hidden;
}

.text-overlay {
  position: absolute;
  top: 65%;
  left: 10%;
  transform: translate(-9%, -40%);
  padding: 10px;
  font-size: 10px;
  color: #fff;
  text-align: center;
}

.text-overlay h4.title-overlay {
  font-size: 14px;
  color: #fff;
  font-family: 'Domine', serif;
}

.postImg:hover .overlay,
.container-overlay:hover .overlay {
  opacity: 1;
}

.postImg i {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -40%);
  padding: 15px;
  font-size: 10px;
  color: rgba(0, 0, 0, .8);
  background: rgba(255, 255, 255, .8);
  border-radius: 50%;
  /* opacity: 0;
  transition: opacity .3s; */
}


/* SECTION2: POPULAR RECIPES */
.recipes {
  width: 100%;
  flex-direction: column;
  margin-top: 300px;
}

.box-text {
  width: 500px;
  margin: 50px auto;
  text-align: center;
}

.box-text h3 {
  font-size: 16px;
  margin: 15px 0;
  text-transform: uppercase;
  color: #39403e;
}

.box-text p {
  font-size: 14px;
  line-height: 25px;
}

/* Recipes post */
.recipePosts,
.tablePosts  {
  justify-content: space-between;
  width: 1200px;
  margin:0 auto;
}

.recipePosts {
  align-items: center;
}

.recipePost {
  flex-basis: calc(50% - 10px);
  background: #fff;
  /* max-width: 590px;
  position: relative; */
}

.recipePost,
.tablePost-sx {
  flex-direction: column;
}

.recipePost-container-overlay {
  max-width: 590px;
  position: relative;
}

.recipePost-container-overlay .text-overlay {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.recipePost-container-overlay h4.recipeTextOver {
  font-size: 21px;
  line-height: 30px;
  padding-top: 50px;
}
.recipePost-container-overlay .overlay i {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  font-size: 20px;
  color: rgba(0, 0, 0, .8);
  background: rgba(255, 255, 255, .8);
  border-radius: 50%;
}
.recipePost img.image-overlay {
  max-width: 590px;
}

.recipeHeader,
.recipeBody  {
  padding: 30px;
}

.recipeHeader h3 {
  margin: 0;
  font-size: 20px;
  color: #39403e;
}

.recipeHeader p {
  font-size: 14px;
  margin: 8px 0;
}

.recipeBody {
  position: relative;
}

.recipeBody::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  width: 95%;
  height: 1px;
  background: lightgray;
}

.recipeBody p {
  font-size: 16px;
  text-align: justify;
  line-height: 30px;
  margin-bottom: 20px;
}

/* Grid images */
.imgages-recipePosts {
  flex-basis: calc(50% - 10px);
}

.grid-container {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: auto auto;
}

.grid-item {
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

/* SECTION3: COLLECTION */
.collection {
  flex-direction: column;
}

.wrap-collection {
  width: 1200px;
  margin: 20px auto;
}

.grid-container-collection {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: auto auto auto auto;
}

.grid-item-collection {
  padding: 10px;
  font-size: 20px;
  text-align: center;
  background: #fff;
  box-shadow: 0px 8px 15px rgba(0,39,56, .1);
}

.grid-item-collection img {
  height: 100px;
}

.label-btn {
  width: 100%;
  padding: 12px 24px;
  text-align: center;
  text-transform: uppercase;
  background: #fff;
  border: none;
  transition: background .3s;
}

.label-btn:hover {
  color: #fff;
  background: #fc7525;
}

/* SECTION4: FARM TO TABLE */
.farm-to-table {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.farm-table {
  width: 1200px;
  margin: 50px auto;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.tablePost-sx {
  flex-basis: calc(65% - 10px);
}

.tablePost-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 40px;
}

.tablePost-grid-item1,
.tablePost-grid-item-btn {
  grid-column-start: 1;
  grid-column-end: 3;
}

.tablePost-grid-item1,
.tablePost-grid-item {
  background: #fff;
}
.tablePost-grid-item {
  text-align: center;
}

.tablePost-grid-item-btn {
  text-align: center;
  padding: 15px;
  color: #6a6b6c;
  border: 1px solid #f0eeeb;
  background: #edede8;
  cursor: pointer;
}

.farm-table > .box-text {
  margin: 0;
  text-align: left;
}

.cta i {
  margin-left: 5px;
}

.farm-tablePosts {
  margin-bottom: 70px;
}

.farm-tablePosts .recipeBody i {
  margin-left: 85%;
}

.farm-tablePosts .recipeBody > .btn {
  text-transform: capitalize;
  padding: 0;
  color: #979c9c;
  background: #fff;
}

.farm-tablePosts .recipeBody i:hover,
.farm-tablePosts .recipeBody > .btn:hover {
  color: #fc7525;
}

/* SECTION4: FARM TO TABLE -- DX*/
.farm-tablePost-dx {
  flex-basis: calc(35% - 10px);
}

.tablePost-dx {
  min-height: 515px;
  margin-bottom: 40px;
  background-image: url('../Images_Food/ad-bg.jpg');
  position: relative;
}

.tablePost-dx,
.tablePost-guide {
  margin-left: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tablePost-text-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 26px;
  text-align: center;
  line-height: 48px;
  color: #39403e;
  text-transform: uppercase;
}

.tablePost-guide {
  min-height: 255px;
  background-image: url('../Images_Food/singapore-featured-image-800x527.jpg');
  position: relative;
  margin-bottom: 120px;
}

.tablePost-guide-title {
  position: absolute;
  top: 50%;
  left: 0;
  padding: 14px 26px;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  background: rgba(0, 0, 0, .8);
}

.tablePost-guide > .btn {
  width: 100%;
  position: absolute;
  bottom: -40px;
}

.tablePost-guide > .btn i {
  margin-right: 8px;
}

.tablePost-guide::after {
  content: "";
  position: absolute;
  bottom: -80px;
  left: 0;
  width: 100%;
  height: 1px;
  background: lightgray;
}

/* Input search dx */
.input-search {
  width: 392px;
  padding: 10px;
  margin: 20px 0px 40px 20px;
  vertical-align: middle;
  border: 1px solid lightgray;
  border-radius: 5px;
  background: #fff;
}

.input-search input {
  margin-left: 10px;
  border: none;
}

.input-search i {
  padding-left: 10px;
}

/* Fallow icons */
.follow-icons {
  width: 100%;
  margin: 20px 0px 20px 20px;
}

.follow-icons h4 {
  color: #fc7525;
}

.icons-social i {
  width: 35px;
  padding: 8px;
  margin: 0 5px;
  text-align: center;
  color: #6a6b6c;
  border: 1px solid #f0eeeb;
  border-radius:  8px;
  background: radial-gradient(#edede8, transparent);
}

/* Filter popular/recent */
.filter-btns {
  justify-content: space-between;
  margin: 20px 0px 40px 20px;
  border: 1px solid #f0eeeb;
  border-radius: 5px;
}

.btns {
  width: 50%;
  padding: 12px;
  color: #39403e;
  font-family: 'Domine', serif;
  border: none;
  background: #f6f7f1;
  cursor: pointer;
}

.btns.active {
  background: #fff;
}

.filtered-posts {
  margin: 20px 0px 40px 20px;
}

.filtered-post-list {
  flex-direction: column;
}

.filtered-post-list li {
  margin-bottom: 15px;
}

.filtered-post-list a {
  align-items: center;
}

.blogPost-Image {
  flex-grow: 1;
  margin-right: 10px;
  max-width: 66px;
  max-height: 66px;
}

.blogPost-Image img {
  border-radius: 50%;
  width: 66px;
  height: 66px;
  object-fit: cover;
}

.blogPost-title {
  max-width: 320px;
}

.blogPost-title h5 {
  font-size: 14px;
  font-weight: lighter;
  color: #6a6b6c;
}

.blogPost-title p {
  margin: 5px 0;
  font-size: 12px;
}

/* Tweets post */
.tweets-post {
  margin-left: 20px;
  /* border: 1px solid gray; */
  background: #fff;
  border-radius: 5px;
}

.tweets-post-header {
  justify-content: space-between;
  padding: 15px;
}

.tweets-post-header-sx h3 {
  font-size: 24px;
  padding: 10px;
  color: #6a6b6c;
}

.tweets-post-header-sx a,
.tweets-post-body-bottom a,
.tweets-post-body-bottom span {
    color: #0492ad;
}

.tweets-post-header-sx p {
  padding-top: 10px;
  font-size: 12px;
  align-self: center;
}

.tweets-post-body {
  padding: 15px;
  justify-content: space-between;
}

.tweets-post-body-top-sx h5 {
  font-size: 16px;
  color: #6a6b6c;
}

.tweets-post-body-top-sx a {
  font-size: 14px;
}

.tweets-post-body-bottom p {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 25px;
}

.tweets-post-body-top .themeLogo {
  width: 40px;
  max-height: 35px;
  /* margin-left: 10px; */
}

.tweets-post-body-top .tweet{
  width: 20px;
  height: 20px;
  /* margin-right: 15px; */
}

.tweets-post-body-bottom {
  flex-direction: column;
  padding-left: 8px;
}

.tweets-post-body-bottom .theme-image {
  margin-top: 25px;
  border-radius: 5px;
}

.theme-icons img {
  margin: 10px 10px 5px 0px;
  width: 18px;
}

/* SECTION 5 */
.subscrive-hero {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #fff;
  background-image:url("../Images_Food/subscribe-sec-bg.png");
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
  border-width: 0px;
  border-color: rgb(234, 233, 233);
  border-style: solid;
  overflow: hidden;
}

.subscrive-hero-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.subscrive-hero-text h2 {
  font-size: 30px;
}

.subscrive-hero-text h2 > span {
  color: #fc7525;
}

.subscrive-hero-text  p {
  font-size: 16px;
  font-weight: lighter;
}

.subscrive-hero-text  p,
.subscrive-hero-input {
  margin-bottom: 20px;

}

.subscrive-hero-input input {
  width: 400px;
  border: 1px solid;
  border-radius: 5px;
  border-color: rgb(234, 233, 233);
  margin-right: 10px;
  padding: 10px;
}

.subscrive-hero-box .small{
  font-size: 10px;
}
/* Section6: Foto  */
.slider-photos {
  width: 100%;
  background: #fff;
}
.slider-photo {
  width: 25%;
}
/* Footer */
.main-footer {
  width: 100%;
  background: #fff;
  border: 1px solid rgb(234, 233, 233);
  border-top: none;
}

.footer-container {
  max-width: 1200px;
  justify-content: space-between;
  margin: 30px auto;
}

.footer-container > div {
  width: 25%;
  border-right: 1px dashed lightgray;
  /* border: 3px solid red; */
}

.footer-container div:last-child {
  border-right: none;
}
/* Footer logo */
.footer-logo,
.footer-nav,
.footer-contact,
.footer-getapp {
  padding: 30px;
}

.footer-logo .footer-icons {
  margin-top: 20px;
}

.footer-logo .footer-icons i {
  padding: 8px;
  font-size: 12px;
  /* color: #39403e; */
}

/* Footer Nav */
.foo-nav li a {
  font-size: 14px;
  line-height: 30px;
  color: #39403e;
}

.foo-nav li a:hover {
  color: #fc7525;
}

/* Footer contact */
.footer-title {
  color: #fc7525;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.footer-contact-info {
  display: inline-flex;
  align-items: baseline;
  margin-bottom: 15px;
}

.footer-contact-info  p {
  font-size: 14px;
}

.footer-contact-info  i {
  margin-right: 25px;
}
/* Footer Copyright */
.footer-copyright {
  width: 100%;
  padding: 25px;
  text-align: center;
  font-size: 10px;
  background: #f6f7f1;
}
