/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: 'Domine', serif; */
  font-family: 'Noto Sans JP', sans-serif;
  color: #afafaf;
}

/* Utilities */
.d-flex {
  display: flex;
}

a {
  text-decoration: none;
  color: #afafaf;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

/* LAYOUT */
.container {
  background-color: #fff;
  flex-direction: column;

}

/* Header Overall */
.header-overall {
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding: 10px 0;
  font-size: 12px;
}

.list-overall li,
.icons-overall i {
  padding: 8px;
}

.list-overall li a span {
  padding: 4px;
  border-radius: 5px;
  color: #fff;
  background-color: #fc7525;
}

.icons-overall i {
  font-size: 14px;
}

/* Header logo */
.header-logo {
  margin: 10px auto;
}

/* NAV MENU */
.main-header {
  flex-direction: column;
}

.main-header .main-menu {
  justify-content: center;
  margin-top: 20px;
}

.main-menu .menu a {
  margin: 0 15px;
  color: #6a6b6c;
  font-size: 20px;
  border-bottom: 4px solid trasparent;
}

.main-menu .menu a:hover {
  color: #fc7525;
  border-bottom: 4px solid #fc7525;
}

.main-menu .menu > a:hover {
  color: #fc7525;
  border-bottom: none;
}
