<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Avada Food</title>
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css ">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@600&family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">

  </head>
  <body>
    <div id="app" class="container d-flex ">
      <!-- Header -->
      <div class="header-overall d-flex">
        <section class="list-overall">
          <ul class="d-flex">
            <li><a href="#">Download App <span>iOS</span></a></li>
            <li><a href="#">Advertaise with us</a></li>
          </ul>
        </section>
        <section class="icons-overall">
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-youtube"></i>
          </a>
        </section>
      </div>
      <header class="main-header d-flex">
        <div class="header-logo d-flex">
          <img src="./Images_Food/avada-food-logo.png" alt="logo avada food">
        </div>

        <!-- Menu Header -->
        <nav class="main-menu d-flex">
          <ul class="menu d-flex">
            <li v-for="mainNav_item in mainNav" class="">
              <a href="#">
                {{mainNav_item}}
              </a>
            </li>
            <a href="#">
              <i class="fas fa-search"></i>
            </a>
          </ul>
        </nav>
      </header>

      <!-- Hero -->
      <div class="hero">
        <span class="label">Today's pick</span>
        <section class="text-hero">
          <h1 class="title">
            Food Corner: Top Japanese Restaurants for Sushi
          </h1>
          <p>March 25, 2019</p>
        </section>
      </div>

      <!-- Main -->
      <main class="">

        <!-- Section1: Foodie Journal -->
        <div class="foodie-father d-flex">
          <section class="foodie d-flex">
            <h3>Foodie Journal</h3>

            <div class="blogPost d-flex">
              <ul class="d-flex">
                <li v-for="lastBlogPost in lastBlogPosts">
                  <a href="#">
                    <div class="postImg ">
                      <img :src="lastBlogPost.path" class="image" alt="">
                      <div class="overlay">
                        <i class="fas fa-link"></i>
                        <div class="text">
                          <h4 class="title"> {{lastBlogPost.title}}</h4>
                        </div>
                      </div>
                    </div>
                    <h4 class="title"> {{lastBlogPost.title}}</h4>
                    <p> By {{lastBlogPost.author}} | {{lastBlogPost.data}}</p>
                  </a>
              </li>
              </ul>
            </div>
          </section>
        </div>


        <!-- Section2: Popular Recipes -->
        <section class="recipes d-flex">
          <div class="box-text">
            <h3> Popular Recipes</h3>
            <p> Aliquam erat volutpat. Ut quis ligula a magna blandit finibus.
              Suspendisse maximus lacus non nunc lacinia lobortis.
            </p>
          </div>
          <div class="recipePosts d-flex">
            <div class="recipePost d-flex">
              <img src="./Images_Food/Yogurt-Nan-800x527.jpg" alt="">
              <div class="recipeHeader">
                <h3 class="title">Lunch Favourite with Salad, Naan And Beans</h3>
                <p>Bakery, Featured, Healthy, Latest Recipes, Staff Picks</p>
              </div>
              <div class="recipeBody">
                  <p>Suspendisse at semper odio. Nam fringilla scelerisque tincidunt.
                    Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    Donec tincidunt posuere ornare. Phasellus placerat odio non feugiat sollicitudin. Integer vitae elementum ex.
                    Sed porttitor, diam eget convallis volutpat, arcu tellus facilisis nulla, id dignissim orci leo id
                  </p>
                  <button type="button" name="button" class="btn">
                    LEARN MORE
                  </button>
              </div>
            </div>
            <div class="imgages-recipePosts">
              <div class="grid-container">
                <div v-for="image in imagesFromBlog" class="grid-item">
                  <img :src="image" alt="">
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Section3: Culinary Collection -->
        <section class="collection d-flex">
          <div class="box-text">
            <h3> CULINARY COLLECTION</h3>
            <p> Aliquam erat volutpat. Ut quis ligula a magna blandit finibus.
                Suspendisse maximus lacus non nunc lacinia lobortis.
            </p>
          </div>
          <div class="wrap-collection">
            <div class="grid-container-collection">
              <div  v-for="collection in collections"
                    class="grid-item-collection">
                  <img :src="collection.path" alt="">
                  <button type="button" name="button" class="label-btn">
                      {{collection.label}}
                  </button>
              </div>
            </div>
          </div>
        </section>

        <!-- Section4: Farm to Table -->
        <section class="farm-table-container d-flex">
          <div class="farm-table d-flex">
            <div class="box-text ">
              <h3> Farm to table</h3>
              <p> Aliquam erat volutpat. Ut quis ligula a magna blandit finibus.
                  Suspendisse maximus lacus non nunc lacinia lobortis.
              </p>
            </div>
            <div class="cta d-flex">
              <button type="button" name="button" class="btn">
                Read our blog
                <i class="fas fa-book-reader"></i>
               </button>
            </div>
          </div>


        </section>


      </main>

      <!-- Section4.2: split dx/sx -->
      <!-- Section5: Subscribe & Receive -->
      <!-- Section6: Foto -->

      <!-- Footer -->
      <!-- Copyright -->

    </div>








    <!-- JS -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="./js/main.js" charset="utf-8"></script>
  </body>
</html>
